{% extends "base/base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1 class="center-text">Report</h1>

    <section>
        <h2 id="kmom01">Kmom01</h2>
        <h4>Berätta kort om dina förkunskaper och tidigare erfarenheter kring 
            objektorientering.</h4>
        <p>
            Jag har tidigare läst en kurs som heter "Algoritmer och datastrukturer
            med objektorienterad Python" där vi lärde oss mer ingripande hur
            objektorienterad programmering fungerar. Så min uppfattning av en klass
            är att det basically är en mall för att instansiera olika objekt från
            en baspunkt. Objektorienterat känns också som att man håller sig inom
            vissa ramar när man skriver kod. Dock ser jag fortfarande inte vad man
            vinner genom att skiva OO istället för funktionellt.
        </p><br>
        <h4>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder
            man behöver veta/förstå för att kunna komma igång och skapa sina första
            klasser?</h4>
        <p>
            För att skapa en klass i PHP måste man skriva "class" följt av namnet
            man vill ge klassen (som i vårt fall måste vara samma som filen), och
            sen ange de metoder och properties man vill att objekten ska ha inom
            curly brackets för att skapa en klass. Man bör också veta att 
            properties i PHP i största delen bara är privata och inte publika, 
            utan man istället skapar publika metoder som ändrar på de privata 
            properties. För att sen göra ett objekt av klassen måste man instansierar 
            klassen t.ex. "$person = new Person();", om man också antar att klassen 
            "Person" har metoden "setName" kan man gör det så här 
            "$person->setName("John");".
        </p><br>
        <h4>Reflektera kort över den kodbas, koden, strukturen som användes till
            uppgiften me/report, hur uppfattar du den?</h4>
        <p>
            Detta känns som en utbyggnad av de tidigare kurser vi har läst
            med extra komplexitet och struktur. Än så länge hittar jag 
            knapp vad jag letar efter bland alla mappar och sub-mappar.
            Samt hur allt hänger ihop känns fortfarande lite som magi.
            Men när det kommer till koden känns det än så länge väldigt bra,
            dock förstår jag inte riktigt hur controllers fungerar, men jag
            antar att vi kommer kolla på det i de kommande kursmomenten.
        </p><br>
        <h4>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner
            du extra intressanta och värdefulla?</h4>
        <p>
            Ganska svårt att svara på då jag öppnade den och såg att den var
            alldeles för lång för att läsa och i stort sätt lära sig något 
            nytt eller komma ihåg vad jag läst. Men jag öppnade den en gång
            till och den enda del jag läste som fångade mitt intresse var
            "Servers and Deployment", så jag skulle väl sig att den var 
            lite intressant. Men jag kan se den hela som väldigt värdefull
            om man nu skulle behöva veta något specifikt på ett kompakt och
            concise sett.
        </p><br>
        <h4>TIL?</h4>
        <p>
            Grundligt hur objekt och klasser skapas i PHP. Hur man skapar ett
            projekt med Symfony. Jag har också återigen lärt mig hur man gör
            ett repo lokalt och kopplar det till GitHub.
        </p><br>
    </section><br>

    <section>
        <h2 id="kmom02">Kmom02</h2>
        <h4>Förklara kort de objektorienterade konstruktionerna arv, komposition, 
            interface och trait och hur de används i PHP.</h4>
        <p>
            Arv används för att låta en klass ärva egenskaper och metoder från en 
            förälder klass. Som i sin tur oftast gör att koden blir mer dry och man 
            kan istället återanvända kod. Komposition är när man "sätter ihop" flera 
            klasser för att skapa något mer komplext. Så istället för att ärva från
            en annan klass använder man en instans av den andra klassen i den 
            nuvarande.<br><br> Interface är en samling metoder som inte har någon
            implementation, utan istället måste implementeras av klasser som har
            interfacet. Detta använder man för att klasserna som implementerar 
            detta ska få en gemensam samling av metoder. Trait är en samling metoder
            som kan återanvänds i flera klasser, utan att behöva använda sig av arv
            eller komposition.

        </p><br>
        <h4>Berätta om din implementation från uppgiften. Hur löste du uppgiften, 
            är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden 
            och dina klasser?</h4>
        <p>
            Jag löste uppgiften genom att skapa två kontroller, en för kort och 
            en för api:et. För att implementera detta skapade jag två klasser, 
            en Card-klass som innehåller kortets namn och metoder för att sätta 
            och hämta namnet, och en DeckOfCards-klass som innehåller  Card-objekt
            och metoder för att hantara dessa. Jag gjorde också ett trait som
            jag använder i både kort och api kontrollern. Traitet innehåller
            metoder för att skapa och hämta en kortlek, samt spara borttagna
            kort i sessionen. Jag gjorde traitet mest bara för att testa.
            <br><br>
            Routesen använder sig i stort sätt bara av metoderna i DeckOfCards
            och de i traitet. Det ända som skiljer sig mellan kort routesen och
            api:ets, är ett i api:et skulle vi ha post routes. Så varje get har
            en tillhörande post route som visar upp det slutgiltiga JSON svaret.
            <br><br>
            Klart det finns förbättringspotential, det gör det alltid, men det
            finns bara så mycket tid. Jag skulle ändå säga att jag är nöjd med
            min implementation av uppgiften och hur jag löst det.
        </p><br>
        <h4>Berätta hur det kändes att modellera ett kortspel med flödesdiagram 
            och psuedokod. Var det något som du tror stödjer dig i din problemlösning 
            och tankearbete för att strukturera koden kring en applikation?</h4>
        <p>
            Jag har varken följt ett flödesdiagram eller pseudokod i detta 
            kursmomentet, jag kan inte heller hitta någon vi skulle ha följt. 
            Så jag vet inte riktigt hur jag ska besvara denna frågan?
        </p><br>
        <h4>TIL?</h4>
        <p>
            Lite djupare i hur routes fungerar i PHP. Jag tror nu att jag har
            mer kolla på hur controllers fungerar som jag hade problem med i
            kmom01. Vad trait är och hur man använder det.
        </p><br>
    </section><br>

{% endblock %}