{% extends "base.html.twig" %}

{% block title %}Deck{% endblock %}

{% block body %}
    <h1 class="center">Deck</h1>
    <div class="center-cards">
        {% for card in deck %}
            <img class="card" src="{{ asset('img/'~ card ~'-min.svg') }}" alt="">
        {% endfor %}
    </div>
{% endblock %}