{% extends "adventure/adv_base.html.twig" %}

{% block title %}About Hero's Quest{% endblock %}

{% block body %}
    <h1 class="adv-title">About</h1>

    <section>
        <p class="text">
            Mitt projekt är ett gammaldags äventyrsspel. Jag försökte ge 
            intrycket av en gammal pergamentrulle med färg valet och gammaldags 
            skrift med typsnittet (men fortfarande läsbart). 
        </p><br>
        <p class="text">
            Där man i ett input fält kan skriva in vad man vill göra, till 
            exempel att gå söder. I varje "rum" visas en bild, till bilden har 
            jag lagt till text som man bara ser första gången ett rum visas. Sedan 
            visas en ny text som om att man återigen har kommit tillbaka till det rummet.
        </p><br>
        <p class="text">
            I varje rum kan man också göra något, du kan kolla i varje. I huset kan 
            man plocka upp saker, i grotta öka ens stats och i dungeon:en möta slut bossen.
        </p><br>
        <p class="text">
            Efter varje interaktion skickas en request till server och hämtar data från
            databasen, alternativ lägger till. Så <a href="{{ path('about_project') }}">här</a>
            kan du se dokumentationen för databasen. Det finns också API routes som du kan
            se <a href="{{ path('about_project') }}">här</a>.
        </p><br>
    </section><br>
    <div class="adv-buttons">
        <a class="adv-btn" href="{{ path('project') }}">Gå Tillbaka</a>
    </div>
{% endblock %}