{% extends "base/base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1 class="center-text">About</h1>

    <section>
        <h2 id="adventure">Välkommen till mitt klassiska äventyrsspel!</h2>
        <p>
            I detta spel kastas du in i en spännande värld fylld med mysterier 
            och utmaningar. Din uppgift är att ta dig genom en serie rum för att 
            nå det sista rummet och hitta en viktig skatt eller något som hjälper 
            dig att nå ditt mål. Men det kommer inte vara enkelt. Varje rum är 
            fyllt med överraskningar och föremål som kan hjälpa dig eller sätta 
            käppar i hjulet för ditt äventyr.
        </p><br>
        <p>
            Spelets struktur är byggd på ett sätt som gör det enkelt att utöka med nya 
            rum, föremål och händelser på ett generellt sätt, utan att behöva göra 
            förändringar i själva spellogiken. Jag har lagt fokus på att hålla spelet 
            lättförståeligt och engagerande för alla spelare.
        </p><br>
        <p>
            För att spela spelet, kommer du att mötas av en bild av varje rum som du 
            befinner dig i. Du kan interagera med objekten i rummet genom att klicka på 
            dem. När du klickar på ett objekt skickas en förfrågan till servern och sidan 
            renderas om för att visa vad som händer eller vad som döljer sig bakom det 
            interagerade objektet. Du kan också samla föremål genom att lägga dem i din 
            virtuella ryggsäck, som du bär med dig genom spelet.
        </p><br>
        <p>
            För att navigera mellan rummen har du möjlighet att röra dig åt öst, väst, 
            norr och söder, förutsatt att det finns öppningar i de riktningarna. Varje 
            rum kan ha olika dolda föremål eller händelser som endast avslöjas genom att 
            interagera med dem, kanske med hjälp av något föremål du har i ryggsäcken.
        </p><br>
        <p>
            Detta äventyrsspel består av 3-5 rum och är utformat för att ge en spännande 
            och underhållande spelupplevelse utan att vara för omfattande. För att 
            underlätta för lärare och andra spelare har Jag skapat en "fusklapp" som visar 
            den snabbaste vägen genom spelet. Du kan hitta länken till fusklappen på 
            landningssidan.
        </p><br>
        <p>
            Jag hoppas att du kommer att njuta av detta äventyrsspel och att du lyckas 
            nå ditt mål! Lycka till!
        </p><br>
    </section><br>
{% endblock %}