{% extends "adventure/adv_base.html.twig" %}

{% block title %}Hero's Quest Cheatsheet{% endblock %}

{% block body %}
    <h1 class="adv-title">Cheatsheet</h1>

    <section>
        <p class="text">
            Detta 채r snabbaste s채tta att g책 igenom spelet. Skriv in kommanden i denna ordningen. 
        </p><br>
        <p class="text">
            1: pickup sword
        </p><br>
        <p class="text">
            2: go north
        </p><br>
        <p class="text">
            3: go west
        </p><br>
        <p class="text">
            4: train
        </p><br>
        <p class="text">
            5: train
        </p><br>
        <p class="text">
            6: train
        </p><br>
        <p class="text">
            7: train
        </p><br>
        <p class="text">
            8: train
        </p><br>
        <p class="text">
            9: go east
        </p><br>
        <p class="text">
            10: go north
        </p><br>
        <p class="text">
            11: kill
        </p><br>
    </section><br>
    <div class="adv-buttons">
        <a class="adv-btn" href="{{ path('project') }}">G책 Tillbaka</a>
    </div>
{% endblock %}