{% extends "adventure/adv_base.html.twig" %}

{% block title %}Database Hero's Quest{% endblock %}

{% block body %}
    <h1 class="adv-title">Database</h1>

    <section>
        <p class="text">
            Här kommer till att finnas när orken är här. 
        </p><br>
    </section><br>
    <div class="adv-buttons">
        <a class="adv-btn" href="{{ path('project') }}">Gå Tillbaka</a>
    </div>
{% endblock %}