{% extends "adventure/adv_base.html.twig" %}

{% block title %}Hero's Quest{% endblock %}

{% block body %}
    <h1 class="adv-title">Hero's Quest</h1>
        <section>
            <p class="text">
                Påbörja ditt äventyr här och se om du har vad som krävs för att
                lösa gåtorna, övervinna hindren och nå det gömda målet. I detta 
                spel startar du i ett rum, där du behöver lista ut hur du ska ta 
                dig vidare. Utforska, samla föremål och låt din fantasi guida dig 
                genom varje steg.
            </p><br>
            <p class="text">
                Du kan ta föremål och placera dem i din ryggsäck, 
                interagera med objekt och se vad som händer. Varje val du gör kan 
                påverka din resa framåt. Förflytta dig genom öppningar åt öster, 
                väster, norr och söder för att avslöja vad som väntar runt varje 
                hörn. Du kan läsa mer <a href="{{ path('about_project') }}">här</a>.
            </p><br>
            <p class="text">
                Ge dig in i äventyret och låt spelet börja! Lycka till med att lösa 
                gåtorna och nå målet! <a href="{{ path('project_cheatsheet') }}">cheatsheet</a>
            </p>
        </section><br>
        <div class="adv-buttons">
            <a class="adv-btn" href="{{ path('house_adventure') }}">Starta Spelet</a>
        </div>
{% endblock %}
