* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    line-height: 1.4;
}

main {
    padding: 0.7rem;
}

h1,
h2,
h4 {
    font-family: 'Merriweather', serif;
}

h1 {
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 2.8rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
    font-weight: 400;
}

p {
    font-size: 1rem;
    font-family: 'Poppins', san-serif;
}

footer {
    min-height: 100px;
    background-color: #067180;
    color: #fff;
    margin-top: 4em;
}

code {
    background-color: #eee;
    border: 1px solid #888;
    padding: 0.1em;
    border-radius: 2px;
}

.main {
    max-width: 700px;
    min-height: 800px;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.underline {
    border-bottom: 2px solid rgb(221, 221, 221);
    margin-bottom: 1em;
    width: 100%;
}

.img-padding {
    padding: 1em;
}