{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1 class="center">Report</h1>

    <section>
        <h2 id="kmom01">Kmom01</h2>
        <h4>fråga</h4>
        <p>lite random text här......</p>
        <h4>fråga</h4>
        <p>lite random text här......</p>
    </section><br>
    <section>
        <h2 id="kmom02">Kmom02</h2>
        <h4>fråga</h4>
        <p>lite random text här......</p>
        <h4>fråga</h4>
        <p>lite random text här......</p>
    </section><br>
    <section>
        <h2 id="kmom03">Kmom03</h2>
        <h4>fråga</h4>
        <p>lite random text här......</p>
        <h4>fråga</h4>
        <p>lite random text här......</p>
    </section><br>
    <section>
        <h2 id="kmom04">Kmom04</h2>
        <h4>fråga</h4>
        <p>lite random text här......</p>
        <h4>fråga</h4>
        <p>lite random text här......</p>
    </section>

{% endblock %}