{% extends 'base/base.html.twig' %}

{% block title %}Biblioteket{% endblock %}

{% block body %}
    <h1 class="center-text">Alla böker i biblioteket.</h1>
    <section class="all-books">
        {% for book in books %}
            <a href="{{ path('show_book_by_id', {id:book[1]}) }}">
                <img src="{{ asset('img/'~ book[0] ~'.jpg') }}" alt="">
            </a>
        {% endfor %}
    </section><br>
    <div class="game-buttons">
        <a class="button" href="{{ path('library') }}">Gå Till Startsidan</a>
        <a class="button" href="{{ path('form_book') }}">Lägg Till en Bok</a>
    </div>
{% endblock %}