{% extends 'base/base.html.twig' %}

{% block title %}Add New Book{% endblock %}

{% block body %}
    <h1 class="center-text">Lägg till ny book</h1>

    <form method="POST">
        <label class="input-label" for="title">Titel</label>
        <input class="input" type="text" id="title" name="title" required/>
    
        <label class="input-label" for="author">Författare</label>
        <input class="input" type="text" id="author" name="author" required/>
    
        <label class="input-label" for="img">Bild Länk</label>
        <input class="input" type="text" id="img" name="img" required/>

        <label class="input-label" for="ISBN">ISBN</label>
        <input class="input" type="number" id="ISBN" name="ISBN" required step="1"/>
    
        <input class="button" type="submit" value="Lägg Till"
        onClick="this.form.action='{{ addBookUrl }}';">
    </form>
{% endblock %}